.wrapper {
    display: flex;
    flex-direction: column;
  }
  .header  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
    width: 100%;
    background-color: grey;
    color: White;
    align-items: center;
  }
  
  .search-bar .search-bar-span {
    width: 500px;
    height: 200px;
  
    /* background-color: wheat; */
  }
  .search-bar span input {
    outline: 0;
    width: 200px;
    /* height: 100%; */
    padding: 5px;
    margin-top: 10px;
    border: 0;
  }
  
  .side-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 15px;
    gap: 1rem;
  }
  
  .logo h1 {
    font-size: 20px;
    margin-left: 10px;
  }
  
  .header div:hover {
    cursor: pointer;
  }
  
  /* //bottom section */
  .filter-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
    width: 100%;
  }

  /* //movie section */
  .card {
    /* background-color: gainsboro; */
    padding: 20px;
    height:fit-content;
    box-shadow: 0 10px 10px #ccc;
    /* border-radius: 10%; */
    width: 300px;
    font-size: 20px;
    text-decoration: none;

  }

  .card-container {
    display: flex;
    gap: 2rem;
    margin: 2rem;
    flex-wrap: wrap;

  }
  .card:hover {
    cursor: pointer;
  }
  .card h2,
  .card h4 {
    padding: 10px;
    text-decoration: none;
  }
  .image img{
    width:200px;
    height: 200px;
  }
  

  /* //card content design */
  .card , .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1rem;
    
  }
  .content p{
    font-size:15px;
  }

  .action-btn{
    display: flex;
    justify-content: space-between;

  }
 
  /* button */
  button{
    background-color: darkgray;
    color:white;
    font-size:15px;
    padding:10px;
    margin:2px;
  }
  button:hover{
    cursor: pointer;
  }